.grid--con {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}
@media (min-width: 360px) and (max-width: 700px) {
    .grid--con {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 700px) and (max-width: 1100px) {
    .grid--con {
        grid-template-columns: repeat(3, 1fr);
    }
}